<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Short Url Generator <i class="fas fa-link"></i></h3>
          <hr>
          <form method="POST" action="/" id="submit-form">
            <div class="form-group form-row">
              <label for="targetUrl" class="col-md-3 col-form-label">
                <h4>Paste Url :</h4>
              </label>
              <div class="col-md-9">
                <input type="text" name="targetUrl" class="form-control" id="target-url"
                  placeholder="Paste Url to transform shorter" value="{{targetUrl}}">
              </div>
            </div>
            <!-- Err display -->
            {{#if isInvalidUrl}}
            <div class="form-group form-row">
              <label for="targetUrl" class="col-md-3 col-form-label">
                <h4>Error :</h4>
              </label>
              <div class="col-md-9">
                <div class="alert alert-info" role="alert">
                  <code class="text-danger" 　id="short-link">{{errMsg.msg}}</code>
                </div>
              </div>
            </div>

            {{/if}}
            <!-- password display -->
            {{#if isGenerateSucceed}}
            <div class="form-group form-row">
              <label for="targetUrl" class="col-md-3 col-form-label">
                <div class="text-start">
                  <button id="copy-btn" type="button" class="btn btn-outline-info" data-bs-toggle="tooltip"
                    data-bs-placement="right" title="Copy Url">Copy Url :</button>
                </div>
              </label>
              <div class="col-md-9">
                <div class="alert alert-info" role="alert">
                  <code class="text-danger" id="short-link">{{newLink}}</code>
                </div>
              </div>
            </div>
            {{/if}}
            <div class="text-center">
              <button id="submit-btn" class="btn btn-success" type="submit">Generate ShortUrl</button>
              {{#if isGenerateSucceed}}
              <a href="/" class="btn btn-outline-secondary">Clear Input Content</a>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>